<ion-header>
  <ion-toolbar color="primary">
    <ion-title>display-schedule</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Mupify</ion-card-subtitle>
          <ion-card-title>Current Image</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          <ion-item>
            <ion-label>
              <img *ngIf="myPhoto" [src]="myPhoto"/>
            </ion-label>
          </ion-item>
        </ion-card-content>
      </ion-card>

  <ion-button expand="full" shape="round" size="large" (click)="takePhoto()"><ion-icon name="camera"></ion-icon></ion-button>
  <ion-button expand="full" shape="round" size="large" (click)="selectPhoto()"><ion-icon name="image"></ion-icon></ion-button>
</ion-content>
